
.container {
    background: linear-gradient( rgba(0, 0, 0, 0.7),
    rgba(0, 0, 0, 0.7)),
    url("../images/background.png");
    /*bacakground-image: url("../images/background.png");*/
    width: 100vw;
    /*height: 100vh;*/
    margin: 0 auto;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Lato', sans-serif;
    padding: 0 155px;
    box-sizing: border-box;
}

.container_light {
    color: black;
url("../images/background.png");
    /*background-image: url("../images/background.png");*/
    width: 100vw;
    /*height: 100vh;*/
    margin: 0 auto;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Lato', sans-serif;
    padding: 0 155px;
    box-sizing: border-box;
}
.container_light a {
    text-decoration: none;
    color: black;
}
a {
    text-decoration: none;
    color: rgba(255, 255, 255, 255);
}
.container1 {
    width: 1060px;
    height: 770px;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 49px 0 20px 0;
}

.logo {
    float: left;
    font-size: 18px;
}

.logo_im {
    width: 46px;
    height: 45px;
    background-image: url("../images/logo.png");
}

.logo>* {
    display: inline-block;
}
.logo>a:first-child {margin-right: 15px;}
.logo>a::first-line {font-size: 29px;}

.logo:hover>a.logo_im {
    width: 46px;
    height: 45px;
    background-image: url("../images/logo_hover.png");
}
.logo:hover>a {color: rgba(242, 101, 34, 255);}

.contacts {
    float: right;
    font-size: 18px;
    color: rgba(255, 255, 255, 255);
}

section>a:nth-child(2)  {
    margin: 0 67px;

}
.content {
    position: relative;
    float: left;
    width: 306px;
    text-align: center;
}

.ImgCont {
    width: 100%;
    border: white 1px  inset;
}


.acont {
    text-decoration: none;
    display: block;
    padding: 18px 0;
    text-align: center;
    font-size: 18px;
    color: white;
}

footer {
    text-align: center;
    color: white;
    font-size: 12px;
    padding-top: 43px;
}

.hidden {
    position: absolute;
    bottom: 52px;
    left: 1px;
    background-color: rgba(242, 101, 34, 255);
    width: 100%;
    height: 63px;
    opacity: 0;
}

.hidden>p:nth-child(1) {
    float: left;
    box-sizing: border-box;
    width: 30%;
    text-align: left;
    padding-left: 20px;
    font-size: 20px;
}
.hidden>p:nth-child(1)::first-line{
    font-size: 10px;
}
.hidden>p:nth-child(2)::after{
    content: '\003E';
}

.hidden>p:nth-child(2) {
    float: right;
    box-sizing: border-box;
    width: 70%;
    text-align: right;
    padding-right: 10px;
    padding-top: 10px;
}

.content:hover *{opacity: 1}

a.content:hover>p {
    color: rgb(255, 101, 52)
}


.button7 {
margin-left: 465px;
    font-weight: 700;
    color: white;
    text-decoration: none;
    padding: 15px;
    border-radius: 3px;
    background: rgb(255, 101, 52);
    box-shadow: #b44200 inset;
    transition: 0.2s;
}
